@tailwind base;

@tailwind components;

@tailwind utilities;


#app {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.min-h-80 {
  min-height: 20rem
  ;
}

.min-w-xs {
  min-width: 20rem
  ;
}

.pt-18 {
  padding-top: 4.25rem;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}

.aspect-w-1 {
  --tw-aspect-w: 1;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}